{% extends 'base.html' %} {% block content %}
<div>
	<h3 class="page-title">Welcome to Animal Farm!</h3>
    <p class="site-description">Here you will find a list of animals that have been domesticated, whether that be as pets or for farming.
    <br><br>
    Feel free to add any animals that you think are missing from the list, and edit or delete any that you think are either inaccurate or don't belong.
    </p>
</div>
<div class="row">
	{% for animal in animals %}
	<div class="col s12 m6">
		<div class="card">
			<div class="card-image">
				<img src="{{animal.animal_image}}">
				<span class="card-title"><strong>{{animal.animal_name}}</strong></span>
				<a href="{{url_for('update_animal', animal_id=animal._id)}}"
					class="btn-floating halfway-fab waves-effect waves-light blue shifted-left-btn"><i class="material-icons">edit</i></a>
				<a href="{{url_for('delete_animal', animal_id=animal._id)}}"
					class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>
			</div>
			<div class="card-content">
				<table>
					<thead>
						<tr>
							<th>Diet</th>
							<th>Habitat</th>
							<th>Group</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{animal.diet}}</td>
							<td>{{animal.habitat}}</td>
							<td>{{animal.group_name}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}