{% extends 'base.html' %} {% block content %}

<h1>Domesticated Animals</h1>
<div class="row">
	{% for animal in animals %}
	<div class="col s12 m6 l4">
		<div class="card">
			<div class="card-image">
				<img src="{{animal.animal_image}}">
				<span class="card-title title-shadow"><strong>{{animal.animal_name}}</strong></span>
				<a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">edit</i></a>
			</div>
			<div class="card-content">
				<table>
					<thead>
						<tr>
							<th>Diet</th>
							<th>Habitat</th>
							<th>Group</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{animal.diet}}</td>
							<td>{{animal.habitat}}</td>
							<td>{{animal.group_name}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}