{% extends 'base.html' %} {% block content %}
<div>
	<h3 class="page-title">Welcome to Animal Farm!</h3>
	<!--Description of the website purpose and how a user can contribute to the growth of the site and data.-->
	<p class="site-description">Here you will find a list of animals that have been domesticated, whether that be as
		pets or for farming.
		<br><br>
    Feel free to add any animals that you think are missing from the list, and edit or delete any that you think are either inaccurate or don't belong.
    </p>
</div>
<div class="row">
	{% for animal in animals %}
	<!--For loop to iterate through all the data in the animals collection-->
	<div class="col s12 m6">
		<div class="card">
			<!--This is a materialize card-->
			<!--Display a card for each animal in the datebase. Each with an image and buttons to edit or delete-->
			<div class="card-image">
				<img src="{{animal.animal_image}}" alt="{{animal.animal_name}} image">
				<span class="card-title"><strong>{{animal.animal_name}}</strong></span>
				<a href="{{url_for('update_animal', animal_id=animal._id)}}"
					class="btn-floating halfway-fab waves-effect waves-light blue shifted-left-btn"><i class="material-icons">edit</i></a>
				<a href="{{url_for('delete_animal', animal_id=animal._id)}}"
					class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>
			</div>
			<div class="card-content">
				<div class="row">
					<div class="section col s12 m6">
						<h5>Offspring</h5>
						<p>{{animal.child_name}}</p>
					</div>
					<div class="section col s12 m6">
						<h5>Diet</h5>
						<p>{{animal.diet}}</p>
					</div>
					<div class="section col s12 m6">
						<div class="divider"></div>
						<h5>Habitat</h5>
						<p>{{animal.habitat}}</p>
					</div>
					<div class="section col s12 m6">
						<div class="divider"></div>
						<h5>Group</h5>
						<p>{{animal.group_name}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}