<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

	<title>Animals</title>
</head>

<body>
	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="{{url_for('get_animals')}}" class="brand-logo center">Animal Farm</a>
				<a href="{{url_for('get_animals')}}" data-activates="mobile-demo"
					class="button-collapse"><i class="material-icons">menu</i></a>

				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="{{url_for('get_animals')}}" class="waves-effect waves-light btn nav-button">Home</a></li>
					<li><a href="{{url_for('add_animal')}}"
							class="waves-effect waves-light btn nav-button"><i class="material-icons right">post_add</i>Add
							Animal</a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><a href="{{url_for('get_animals')}}">Home</a></li>
					<li><a href="{{url_for('add_animal')}}">Add Animal</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<main>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</main>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"
		integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script>
		$(document).ready(function() {
            $('select').material_select();
            $(".button-collapse").sideNav();
        });
	</script>
</body>

</html>