{% extends 'base.html' %} {% block content %}

<h2 class="page-title">Edit Animal</h2>
<div class="row">
	<!--This is a Materialize Form for users to edit the information about an animal already in the database.
    The form will first look for fields already populated by data and display it to the user
    In the respective fields--> 
	<form action="{{url_for('update_animal', animal_id=animal._id)}}" method="POST" class="col s12">
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">account_circle</i>
				<input id="animal_name" name="animal_name" type="text" class="validate" value="{{animal.animal_name}}">
				<label for="icon_prefix">Animal Name</label>
			</div>
			<div class="input-field col s12">
				<i class="material-icons prefix">child_friendly</i>
				<input id="child_name" name="child_name" type="text" class="validate" value="{{animal.child_name}}">
				<label for="icon_telephone">Offspring Name</label>
			</div>
			<div class="input-field col s12">
				<i class="material-icons prefix">pie_chart</i>
				<select id="group" name="group_name">
                    <option value="" disabled selected>Choose Animal Group</option>
                    {% for group in group %}
                    {% if group.group_name == animal.group_name %} <!--If statement to check if a group has already been selected-->
                    <option value="{{group.group_name}}" selected > {{group.group_name}}</option>
                    {% else %}
                    <option value="{{group.group_name}}">{{group.group_name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
				<label>Animal Group</label>
			</div>
			<div class="input-field col s12">
				<i class="material-icons prefix">restaurant</i>
				<input id="diet" name="diet" type="text" class="validate" value="{{animal.diet}}">
				<label for="icon_telephone">Diet</label>
			</div>
			<div class="input-field col s12">
				<i class="material-icons prefix">home</i>
				<input id="habitat" name="habitat" type="text" class="validate" value="{{animal.habitat}}">
				<label for="icon_prefix">Living</label>
			</div>
			<div class="input-field col s12">
				<i class="material-icons prefix">add_photo_alternate</i>
				<input id="animal_image" name="animal_image" type="text" class="validate" value="{{animal.animal_image}}">
				<label for="icon_prefix">Animal Image Link</label>
			</div>
		</div>
		<!--Button to submit edited data and return the user to the animals page, so that they can see their new changes have rendered-->
		<div class="row button-padding">
			<button class="btn waves-effect waves-light add-button" type="submit" name="action">Update Animal
                <i class="material-icons right">post_add</i>
            </button>
		</div>
	</form>
</div>

{% endblock %}